/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material-components-web/material-components-web
 *= require semantic-ui-css/semantic
 *= require_self
 */

@font-face {
  font-family: 'Icons';
  src: font-url("icons.eot");
  src: font-url("icons.eot?#iefix") format('embedded-opentype'),
       font-url("icons.woff2") format('woff2'),
       font-url("icons.woff") format('woff'),
       font-url("icons.ttf") format('truetype'),
       font-url("icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

.main-content {
  margin-top: 80px;
  margin-left: 20px;
  margin-left: 20px;
  padding-bottom: 80px;
}

#vue_root {
  height: 100%;
}

.error-theme {
  color: #ff4081;
}

.navbar-title-link {
  color: white;
}
.navbar-title-link:hover {
  color: #ff4081;
}

td.number, th.number {
  text-align: right !important;
  input[type='text'] {
    text-align: right !important;
  }
}

td.center, th.center {
  text-align: center !important;
}

.mdc-layout-grid__cell {
  align-self: center;
}

.mdc-grid-tile__footer {
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-text-primary-on-primary) !important;
  padding: 8px;
}

.mdc-toolbar {
  &__section {
    &--align-end {
      padding-right: 10px;
    }
    .material-icons {
      color: white !important;
    }
    .date-input {
      margin-left: 10px;
      margin-right: 10px;
    }
    .tool-icons {
      margin-left: 4px;
      margin-right: 4px;
      margin-top: 4px;
    }
  }
}

.pull-right {
  float: right;
}

.mdc-snackbar {
  z-index: 9999;
}

table.table {
  width: 80% !important;
}

:root {
  --mdc-theme-primary: #0e4ead;
  --mdc-theme-secondary: #0060e6;
}

select.no-appearance {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.no-margin-grid {
  margin: 0;
  padding: 0;
}

.ui.input.number {
  input {
    text-align: right;
  }
}
