#content {
}

table {
  font-size: 10px;
  border-collapse: collapse;
  page-break-inside: auto;
  thead {
    display: table-row-group;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
    .page-break{
      page-break-after: always;
    }
    td, th {
      border: 1px solid;
      padding: 4px;
    }
  }

  .collapsed-top-td {
    border-bottom: 0px;
  }

  .collapsed-top-row {
    border-bottom: 0px;
    td, th {
      border-bottom: 0px;
    }
  }
  .collapsed-bottom-row {
    border-top: 0px;
    td, th {
      border-top: 0px;
    }
  }
}

.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}

.title-header {
}

.post-message {
  margin-top: 6px;
  font-size: 12px;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
